.btn {
  background-color: theme-color("dark-blue");
  color: white;
  padding: 0.5em 2em;
  text-transform: lowercase;
  font-family: "Montserrat";
  margin-top: 1.5rem;
}

.btn:focus,
.btn:hover {
  background-color: theme-color("green");
  color: white;
}
a.notButton {
  button,
  button:hover {
    background: none;

    border: 0px solid transparent;
    margin-top: 0;
    padding: 0;
  }
  button {
    color: #444;
  }
  button:hover {
    color: inherit;
  }
}
