.btn {
  background-color: theme-color("dark-blue");
  color: white;
  padding: 0.5em 2em;
  text-transform: lowercase;
  font-family: "Montserrat";
  margin-top: 1.5rem;
}

.btn:focus,
.btn:hover {
  background-color: theme-color("green");
  color: white;
}
