footer {
  background: theme-color("dark-blue");
  padding: 1em 1em 0;
  font-size: 0.8em;
  color: white;
  a {
    color: white;
  }
  .footer-nav {
    a {
      padding: 1em 1.5em;
    }
  }
  p {
    padding-top: 1em;
  }
}
