@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    width: 100%;
  }
}
.navbar-nav .dropdown-menu-right {
  .dropdown-menu {
    right: 0;
    left: auto;
  }
}
a.active.dropdown-item {
  background: theme-color("primary");
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.navbar-nav {
  font-size: 0.9em;
}
.dropdown-item:hover {
  background-color: theme-color("green");
  color: white;
}
span.logo {
  font-weight: 900;
  color: theme-color("darkest-green");
}
