div.section-header-green {
  background: theme-color("green");
  padding: 3% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  h1 {
    color: white;
    font-size: 2.25em;
  }
}
div.section-header-blue {
  background: theme-color("primary");
  padding: 3% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  h1 {
    color: white;
    font-size: 2.25em;
  }
}
div.section-TempHeader {
  background-color: theme-color("light-blue");
  h1 {
    color: #444;
  }
}
