div.section-header-generic {
  background: url("../background-images/waiwai-background-header.svg");
  padding: 15% 0 7%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  h1 {
    color: white;
  }
}

div.section-spending-plan {
  background: url("../background-images/spending-plan-background.svg");
  padding: 15% 0 7%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 0;
  color: white;
}
