div.section-header-generic {
  background: url("../img/background-images/waiwai-background-header.svg");
  padding: 15% 0 7%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  h1 {
    color: white;
  }
}

div.section-spending-plan {
  background: url("../img/background-images/spending-plan-background.svg");
  padding: 25% 0 15%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  color: white;
}
div.section-spend-plan-footer {
  background: url("../img/background-images/waiwai-savings-footer.svg");
  padding: 25% 0 15%;
  margin-top: -10%;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  color: white;
}
div.section-spend-categories {
  .card-image {
    min-height: 8em;
    img.img {
      height: 4em;
      width: 4em;
      max-height: 25%;
      max-width: 25%;
      margin: 0 auto;
      display: block;
      margin-top: 2.5em;
    }
  }
  div.card-img-overlay {
    color: white;
    h5 {
      font-size: 1rem;
      margin-left: -0.5rem;
      margin-top: -0.5rem;
    }
  }
  div.card {
    .small.bottom {
      margin-top: -0.75rem;
    }
    .card-footer {
      border-top: 0px solid transparent;
      background-color: transparent;
    }
  }
}
.dark-green-background {
  background: theme-color("dark-green");
}

.brown-yellow-background {
  background: theme-color("brown-yellow");
}
