table.table,
table {
  font-size: 0.9rem;
  .jss5 {
    overflow: visible;
  }
  tr.reviewed {
    background: theme-color("light-green");
    td:nth-child(6) div:nth-child(2) {
      color: theme-color("green");
    }
  }
  tr.duplicate {
    background: #f6f6f6;
    td div {
      color: #999;
      text-decoration: line-through;
    }
  }
  thead {
    th {
      font-size: 0.75rem;
      font-weight: bold;
      border-top: 0 solid transparent;
      border-bottom: 0 solid transparent;
      .MuiTableSortLabel-root.MuiTableSortLabel-active {
        margin-top: 7px;
      }
    }
  }
  td {
    input {
      border: none;
      border-bottom: 1px solid #d8d8d8;
      height: 2em;
    }
    input.save-focus {
      border: 1px solid #d8d8d8;
      padding: 0 0.5em;
      &:focus {
        border-color: theme-color("dark-blue");
        background: theme-color("light-blue");
      }
    }

    button.btn.save {
      border-radius: 0;
      margin-left: 0.5em;
    }
  }
  button.dropdown-toggle.btn.btn-primary {
    border: 1px solid #444;
    background: #fff;
    color: #444;
  }
  button.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    margin-top: 0;
    &.secondary {
      border-color: theme-color("dark-green");
      border-width: 0px;
      color: theme-color("dark-green");
      background-color: transparent;
      &:hover {
        background-color: theme-color("dark-green");
        color: #fff;
      }
    }
  }
}
.MuiPaper-root.MUIDataTable-paper-2.undefined.MuiPaper-elevation4.MuiPaper-rounded {
  box-shadow: 0 0 0 0;
}
.MuiTableRow-root.MuiTableRow-hover:hover {
  background-color: transparent;
  &.reviewed {
    background-color: theme-color("light-green");
  }
}
